/* Variables */
:root {
  --canvas-width: 32px;
  /* Theme's variables (default value should correspond to the default theme) */
  --background-color: #ffffff;
  --toolbar-color: #f5f5f5;
  --list-background-color: #ebebeb;
  --hover-color: #e1e1e1;
  --selected-color: #d7d7d7;
  --splitter-color: #b9b9b9;
  --border-color: #e6e6e6;
  --font-color: #000000;
  --font-famliy: Arial, Helvetica, sans-serif;
  --font-size: 14px;
  --link-color: #62bd7f;
  --button-font-color: #ffffff;
  --green-button-border-color: #006400;
  --green-button-background-color: #008000;
  --red-button-border-color: #8b0000;
  --red-button-background-color: #a70000;
  --yellow-button-border-color: #b8860b;
  --yellow-button-background-color: #daa520;
  --notification-font-color: #ffffff;
  --info-notification-border-color: #006400;
  --info-notification-background-color: #008000;
  --error-notification-border-color: #8b0000;
  --error-notification-background-color: #a70000;
  --reference-section-background-color: #c8c8c8;
  --spinner-color: #1e90ff;
  --spinner-border: #f3f3f3;
}
/* Body */
html,
body {
  margin: 0;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-famliy);
  font-size: var(--font-size);
  user-select: none;
}
div#container {
  height: 100vh;
  width: 100vw;
}
div#app {
  height: 100%;
}
/* General */
h1 {
  font-size: 20px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 15px;
}
button {
  margin: 4px 8px;
}
a {
  color: var(--link-color);
}
/* Repo dashboard */
div.repo-dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* Repo toolbar */
div.repo-toolbar {
  height: 50px;
  display: flex;
  text-align: center;
  background-color: var(--toolbar-color);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
div.repo-toolbar div.repo-title {
  display: table;
  height: 100%;
  margin-right: 25px;
  background-color: var(--list-background-color);
  padding: 0px 16px;
}
div.repo-toolbar div.repo-title h1 {
  display: table-cell;
  vertical-align: middle;
  margin: 0px;
  font-size: 16px;
}
div.repo-toolbar div.separator {
  border-width: 25px 0px 25px 20px;
  border-style: solid;
  border-color: transparent transparent transparent var(--list-background-color);
  margin-left: -25px;
}
div.repo-toolbar div.toolbar-buttons {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 4px 0px;
}
div.repo-toolbar div.toolbar-buttons button {
  margin: 0px 2px;
  padding: 0px;
  width: 48px;
}
div.repo-toolbar div.toolbar-buttons button div.spinner {
  border: 3px solid var(--spinner-border);
  border-top: 3px solid var(--spinner-color);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
  margin: auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Repo content */
div.repo-content {
  flex: 1;
  display: flex;
}
/* Loading screen */
div.loading-screen {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.loading-screen div.spinner {
  border: 16px solid var(--spinner-border);
  border-top: 16px solid var(--spinner-color);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Reference explorer */
div.reference-explorer {
  width: 200px;
  padding-top: 8px;
}
div.reference-explorer > div {
  overflow-y: auto;
  height: 100%;
}
div.reference-explorer li {
  list-style: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background: var(--list-background-color);
  padding: 2px 4px 2px 16px;
  font-size: 13px;
}
div.reference-explorer li:hover {
  background: var(--hover-color);
}
div.reference-explorer li.selected {
  background: var(--selected-color);
}
div.reference-explorer ul {
  margin: 0px;
  padding: 0px;
}
div.reference-explorer ul.hidden {
  display: none;
}
div.reference-explorer h3 {
  margin: 0px;
  padding: 4px;
  background: var(--reference-section-background-color);
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
div.reference-explorer h3 span {
  padding: 0px 4px;
}
/* Graph viewer */
div.graph-viewer {
  flex: 1;
  min-width: 300px;
  display: flex;
}
div.graph-viewer div.graph-container {
  position: relative;
  flex: 1;
  min-width: calc(var(--canvas-width) + 100px);
}
/* Commit graph */
div.commit-graph {
  min-width: 32px;
  width: var(--canvas-width);
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
div.commit-graph canvas {
  position: sticky;
  margin-left: auto;
  padding: 0px 10px;
  display: block;
  z-index: 2;
  pointer-events: none;
}
div.commit-graph .splitter {
  position: absolute;
  top: 0px;
  left: calc(var(--canvas-width));
  height: 100%;
  z-index: 3;
  border: 1px dashed var(--splitter-color);
}
/* Commit list */
div.commit-list {
  width: 100%;
  height: calc(100% - 15px);
  position: absolute;
  top: 0px;
  z-index: 1;
  overflow-y: scroll;
  text-align: left;
}
div.commit-list ul {
  margin: 0px;
  padding-left: 0px;
  list-style: none;
  line-height: 22px;
  background-color: var(--list-background-color);
  min-height: 100%;
}
div.commit-list ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 22px;
  padding-left: calc(var(--canvas-width) + 16px);
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 13px;
}
div.commit-list ul li:hover {
  background: var(--hover-color);
}
div.commit-list ul li.selected-commit {
  background: var(--selected-color);
}
/* Reference badge */
div.commit-list li span.reference {
  border-radius: 5px;
  padding: 2px;
  margin-right: 2px;
  background-color: var(--branch-color);
  color: white;
  user-select: none;
  filter: brightness(0.8);
}
div.commit-list li span.reference.tag {
  border-radius: 0px;
}
div.commit-list li span.reference:hover {
  filter: brightness(1);
}
div.commit-list li span.reference.selected {
  filter: brightness(1);
}
/* Patch viewer */
div.patch-viewer {
  flex: 1;
  min-width: 300px;
  z-index: 1;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
}
div.patch-viewer div.patch-header {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
div.patch-viewer div.patch-header h2 {
  margin: 0px;
  padding: 6px 8px;
  user-select: text;
}
div.patch-viewer div.patch-toolbar {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.patch-viewer div.patch-toolbar button {
  margin: 4px;
}
div.patch-viewer div.patch-editor {
  height: calc(100% - 30px - 30px);
  align-items: center;
}
div.patch-viewer div.patch-editor.hidden {
  visibility: hidden;
}
div.patch-viewer div.image-viewer {
  overflow: auto;
  padding: 0px 8px;
}
div.patch-viewer div.binary-viewer {
  padding: 0px 8px;
}
/* Hunk widget */
div.hunk-widget {
  width: 100%;
}
div.hunk-widget > div {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-bottom: 1px solid;
}
div.hunk-widget > div > div {
  position: absolute;
  right: 18px;
  bottom: 2px;
}
div.hunk-widget p {
  margin: 0px;
}
div.hunk-widget button {
  margin: 0px 2px;
}
/* Conflict widget */
div.conflict-widget {
  width: 100%;
}
div.conflict-widget > div {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-bottom: 1px solid;
}
div.conflict-widget > div > div {
  position: absolute;
  right: 18px;
  bottom: 2px;
}
div.conflict-widget p {
  margin: 0px 8px;
}
div.conflict-widget button {
  margin: 0px 2px;
}
/* Margin buttons */
.stage-line-button {
  width: 19px;
  height: 19px;
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border-radius: 5px;
}
.stage-line-button * {
  font-family: var(--font-famliy);
  font-weight: normal;
}
.stage-line-button:hover {
  background: green;
}
.stage-line-button:hover::before {
  content: '+';
}
.unstage-line-button {
  width: 19px;
  height: 19px;
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border-radius: 5px;
}
.unstage-line-button * {
  font-family: var(--font-famliy);
  font-weight: normal;
}
.unstage-line-button:hover {
  background: red;
}
.unstage-line-button:hover::before {
  content: '-';
}
/* Inline decorations */
.conflict-start {
  background: lightgreen;
}
.conflict-current {
  background: #bcf5bc;
}
.conflict-end {
  background: lightblue;
}
.conflict-incoming {
  background: #d4ebf2;
}
/* Splitter */
div.splitter {
  border: 1.5px solid var(--splitter-color);
  cursor: col-resize;
  z-index: 1;
}
/* Commit viewer */
.commit-viewer {
  width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  z-index: 4;
  user-select: text;
}
.commit-viewer h3 {
  margin: 4px 0;
  text-align: center;
  font-size: var(--font-size);
  font-weight: normal;
}
.commit-viewer div.commit-message {
  max-height: 100px;
  overflow-y: auto;
  background: var(--list-background-color);
  border: 1px solid var(--border-color);
  margin: 8px;
  padding: 8px;
}
.commit-viewer div.commit-message h2 {
  margin: 0px;
}
.commit-viewer div.commit-message pre {
  font-size: 13px;
  font-family: var(--font-famliy);
  margin: 8px 0px 0px 0px;
}
.commit-viewer p {
  margin: 4px 8px;
}
.commit-viewer .sha-button {
  border-bottom: 1px dotted var(--font-color);
}
.commit-viewer .navigate-button {
  cursor: pointer;
}
.commit-viewer div.section-header {
  display: flex;
  position: relative;
}
.commit-viewer div.section-header button {
  position: absolute;
  right: 0px;
}
.commit-viewer div.section-header .amend-container {
  display: flex;
  position: absolute;
  right: 0px;
  margin: 4px 8px;
}
.commit-viewer > input {
  margin: 4px 8px;
}
.commit-viewer > textarea {
  margin: 4px 8px;
  resize: none;
  font-family: var(--font-famliy);
}
/* Index Viewer */
.index-viewer {
  user-select: none;
}
/* Patch list */
ul.patch-list {
  flex: 1;
  margin: 8px;
  border: 1px solid var(--border-color);
  padding-left: 0px;
  list-style: none;
  overflow-y: auto;
  background-color: var(--list-background-color);
}
ul.patch-list li {
  padding: 4px;
  display: flex;
  position: relative;
  user-select: none;
}
ul.patch-list li:hover {
  background: var(--hover-color);
}
ul.patch-list li.selected-patch {
  background: var(--selected-color);
}
ul.patch-list li span.icon {
  padding-right: 4px;
}
ul.patch-list li div.buttons {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: right;
  line-height: 25px;
}
ul.patch-list li div.buttons button {
  display: none;
  margin-right: 2px;
  padding: 0px 2px;
}
ul.patch-list li div.buttons:hover button {
  display: inline;
}
/* Patch icons */
span.patch-add::before {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  content: '+';
  color: green;
}
span.patch-delete::before {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  content: '-';
  color: red;
}
span.patch-modify::before {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  content: '\2026';
  color: orange;
}
span.patch-rename::before {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  content: '/';
  color: dodgerblue;
}
span.patch-conflict::before {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  content: '!';
  color: orange;
}
/* Ellipsis middle */
.ellipsis-middle {
  display: flex;
  overflow: hidden;
}
.ellipsis-middle .left {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ellipsis-middle .right {
  max-width: 100%;
  flex-shrink: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* Notifications */
ul.notification-queue {
  position: absolute;
  top: 0;
  left: calc(100% - 400px);
  width: 800px;
  z-index: 5;
  list-style: none;
  margin: 16px 0px;
  padding: 0px;
}
ul.notification-queue li {
  width: calc(50% - 2 * (16px + 1px));
  padding: 16px;
  margin: 8px 0px;
  margin-left: 50%;
  transition: margin-left 1s 0s;
  border: 1px solid var(--border-color);
  background: var(--background-color);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
ul.notification-queue li.shown {
  margin-left: 0px;
}
ul.notification-queue li:hover {
  background: var(--hover-color);
}
ul.notification-queue li.information {
  color: var(--notification-font-color);
  background-color: var(--info-notification-background-color);
  border-color: var(--info-notification-border-color);
}
ul.notification-queue li.information:hover {
  background-color: var(--info-notification-background-color);
  border-color: var(--info-notification-background-color);
}
ul.notification-queue li.information:active {
  background-color: var(--info-notification-border-color);
  border-color: var(--info-notification-background-color);
}
ul.notification-queue li.error {
  color: var(--notification-font-color);
  background-color: var(--error-notification-background-color);
  border-color: var(--error-notification-border-color);
}
ul.notification-queue li.error:hover {
  background-color: var(--error-notification-background-color);
  border-color: var(--error-notification-background-color);
}
ul.notification-queue li.error:active {
  background-color: var(--error-notification-border-color);
  border-color: var(--error-notification-background-color);
}
/* Welcome dashboard */
div.welcome-dashboard {
  margin-top: 100px;
  text-align: center;
}
div.welcome-dashboard h1 {
  margin-bottom: 20px;
}
div.welcome-dashboard div.actions {
  width: 600px;
  margin: auto;
  display: flex;
}
div.welcome-dashboard div.actions div.action {
  width: 174px;
  background-color: var(--list-background-color);
  margin: 8px;
  padding: 4px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  overflow-wrap: break-word;
}
div.welcome-dashboard div.actions div.action p {
  text-align: left;
  font-size: 12px;
}
div.welcome-dashboard div.actions div.action:hover {
  background-color: var(--hover-color);
}
div.welcome-dashboard div.actions div.action:active {
  background-color: var(--selected-color);
}
/* Tooltips */
.tooltip-bottom {
  position: relative;
}
.tooltip-bottom .tooltip-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: calc(100% + 8px);
  transform: translateX(-50%);
}
.tooltip-bottom .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.tooltip-bottom:hover .tooltip-text {
  visibility: visible;
}
.tooltip-right {
  position: relative;
}
.tooltip-right .tooltip-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: calc(100% + 8px);
  transform: translateY(-50%);
  white-space: nowrap;
}
.tooltip-right .tooltip-text::after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip-right:hover .tooltip-text {
  visibility: visible;
}
/* Buttons */
button {
  background-color: var(--list-background-color);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  color: var(--font-color);
  outline: 0px;
}
button:hover {
  background-color: var(--hover-color);
}
button:active {
  background-color: var(--selected-color);
}
button:disabled {
  cursor: not-allowed;
}
.green-button {
  color: var(--button-font-color);
  background-color: var(--green-button-background-color);
  border-color: var(--green-button-border-color);
}
.green-button:hover {
  background-color: var(--green-button-background-color);
  border-color: var(--green-button-background-color);
}
.green-button:active {
  background-color: var(--green-button-border-color);
  border-color: var(--green-button-background-color);
}
.red-button {
  color: var(--button-font-color);
  background-color: var(--red-button-background-color);
  border-color: var(--red-button-border-color);
}
.red-button:hover {
  background-color: var(--red-button-background-color);
  border-color: var(--red-button-background-color);
}
.red-button:active {
  background-color: var(--red-button-border-color);
  border-color: var(--red-button-background-color);
}
.yellow-button {
  color: var(--button-font-color);
  background-color: var(--yellow-button-background-color);
  border-color: var(--yellow-button-border-color);
}
.yellow-button:hover {
  background-color: var(--yellow-button-background-color);
  border-color: var(--yellow-button-background-color);
}
.yellow-button:active {
  background-color: var(--yellow-button-border-color);
  border-color: var(--yellow-button-background-color);
}
/* Modal windows */
div.modal-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
div.modal-container div.modal-background {
  background-color: var(--background-color);
}
div.modal-container div.modal-background div.modal-header {
  position: relative;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  margin: 0px 8px;
  padding: 4px 0px;
}
div.modal-container div.modal-background div.modal-header h2 {
  margin: 0px;
}
div.modal-container div.modal-background div.modal-header button {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 4px 0px;
}
/* Modal forms */
form.modal-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
form.modal-form div.field-container {
  display: flex;
  margin: 4px 0px;
}
form.modal-form div.field-container label {
  min-width: 140px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}
form.modal-form div.field-container input[type="text"] {
  flex: 1;
}
form.modal-form div.field-container span#prefix {
  overflow: hidden;
  text-overflow: ellipsis;
}
form.modal-form div.button-container {
  width: 100%;
  margin: 4px 0px;
}
form.modal-form div.button-container button {
  width: 100%;
  margin: 0px;
}
/* Preferences */
div.preferences {
  width: 600px;
  height: 400px;
  display: flex;
}
div.preferences nav {
  width: 200px;
}
div.preferences nav ul {
  list-style: none;
  margin: 16px 0px;
  padding: 0px;
}
div.preferences nav ul li {
  padding: 5px 16px;
}
div.preferences nav ul li:hover {
  background-color: var(--hover-color);
}
div.preferences nav ul li.selected {
  background-color: var(--selected-color);
}
div.preferences main {
  flex-grow: 1;
}
div.preferences section {
  display: none;
  padding: 16px 8px;
}
div.preferences section.shown {
  display: block;
}
div.preferences section h1 {
  margin: 0px;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 16px;
}
div.preferences section div {
  margin: 4px 0px;
}
div.preferences section div label {
  margin-right: 4px;
}
.repo-table{
  border: border-collapse: collapse;
  border: 1px solid white;
}
