#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#workspace {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#workspace td, #workspace th {
  border: 1px solid #ddd;
  font-size: 18px;
  padding: 8px;
  text-align: left;
}

#workspace tr:nth-child(even){background-color: #3f434a;}

#workspace tr:hover {
  background-color: #212526;
  opacity: 0.9;

}

#workspace th {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  text-align: left;
  background-color: #1c1f24;
  color: white;
}
